---
import Layout from '../layouts/Layout.astro';
import axios from 'axios'
async function infoData(){
	const result = await axios("http://localhost:3001/products/all")
	const data = result.data
	return data
}
const {productos}= await infoData()
---

<Layout title="Welcome to Astro.">
		{
			productos.map((p) => {
				return <h2 class="text-white" >{p.title}</h2>
			})
		}
		<h2>hola</h2>
</Layout>


