---
import { Image } from "astro:assets";
const {imagen,titulo,texto, href} = Astro.props
---

<article class="w-full h-full flex flex-col items-center gap-4 justify-center max-w-[450px] " >
    <h2 class="text-xl">{titulo}</h2>
    <p class="bg-[#0C1017] p-4 rounded-lg text-xs">{texto}</p>
    <a href={href}  >
        <Image src={imagen} alt="imagen" class="w-[150px] h-[200px] hover:translate-y-[-20px] transition-transform duration-300 ease-out cursor-pointer  " />
    </a>
</article>